.projects
  background: $gray_dark
  display: flex
  font-family: $font
  overflow: hidden
  width: 100%
  padding: 1.5em 0
  .projects__info-wrapper
    align-items: center
    display: flex
    flex-direction: column
    justify-content: space-around
    height: 100%
    width: 45%
    .projects__title
      background: $white
      border-radius: 0.1em
      color: black
      padding: 0.5em 2em
      text-align: center
    
    .projects__description
      color: $white
      margin: 1em 2em
  .projects__content-wrapper
    display: flex
    justify-content: flex-start
    margin-left: 0
    overflow-x: auto
    scrollbar-width: none
    white-space: nowrap
    width: 55%
    .project
      display: flex
      align-items: center
      margin: 1em
      padding: 1em
      min-width: 18em
      height: 13em
      box-shadow: 0px -2px 10px rgba(0,0,0,0.3)
      text-decoration: none
      .project-title
        color: $white
        font-size: 3em
        font-weight: bold
        text-align: center
    .project--tdc-fashion
      background: goldenrod
    .project--stock-club
      background: green
    .project--d8
      background: pink
    .project--remind-pro
      background: lightblue
    