.projects
  background: $gray_dark
  display: flex
  flex-direction: column
  font-family: $font
  overflow: hidden
  width: 100%
  // padding: 1.5em 0
  // @include respond_to(medium_screen)
  //   align-items: center
  //   flex-direction: column
  .projects__header
    align-items: center
    display: flex
    justify-content: space-around
    height: 4em
    width: 100%
    .projects__title
      background: black
      border-radius: 0.1em
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
      color: white
      padding: 0.5em 2em
      text-align: center


  .projects__footer
    align-items: center
    display: flex
    justify-content: space-around
    height: 4em
    width: 100%
    // @include respond_to(large_screen)
    //   width: 50%
    // @include respond_to(medium_screen)
    //   width: 80%
    // @include respond_to(small_screen)
    //   width: 100%
  .projects__content-wrapper
    background: $gray_medium
    box-shadow: 0 1px 3px rgba(0,0,0,0.12) inset, 0 1px 2px rgba(0,0,0,0.24) inset
    display: flex
    justify-content: flex-start
    overflow-x: auto
    scrollbar-width: none
    white-space: nowrap
    width: 100%
    // @include respond_to(large_screen)
    //   width: 50%
    // @include respond_to(medium_screen)
    //   width: 90%
    // @include respond_to(small_screen)
    //   width: 100%
    .project-card
      align-items: center
      display: flex
      flex-direction: column
      height: 20em
      justify-content: center
      margin: 1em
      min-width: 18em
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
      text-decoration: none
      .project-card__project-title
        width: 100%
        height: 50%
        color: $white
        background: blue
        font-size: 2em
      .project-card__project-links
        width: 100%
        height: 10%
        background: red
      .project-card__project-short-summary
        width: 100%
        height: 40%
        background: yellow
    .project--metric-display
      background-image: url('/media/blue_purple_abstract.png')
    .project--stock-club
      background: url('/media/yellow_red_abstract.png')
    .project--d8
      background: url('/media/green_orange_abstract.png')
    .project--remind-pro
      background: url('/media/blue_red_abstract.png')

    