.skills
  background: $black
  display: flex
  flex-direction: column
  font-family: $font
  padding: 5em 0 2em 0
  .skills__content-wrapper
    display: flex
    flex-direction: row
    justify-content: space-around
    padding: 0 2em
    width: 100%
    height: auto
    .skills__icon-wrapper
      display: flex
      justify-content: center
      width: 45%
    .skills__text-wrapper
      width: 55%

.skills__icon
  height: auto
  margin: 0 2em
  max-width: 10em
  min-width: 7em
  padding: 1em 0
  width: 40%

.skills__icon--django, .skills__icon--python
  fill: #44B78B

.skills__icon--react, .skills__icon--javascript
  fill: #F0DB4F

.skills__icon--html, .skills__icon--css
  fill: #FFA500

.skills__icon--git, .skills__icon--postgresql
  fill: #68A7CA

.text-wrapper__title
  border-radius: 0.1em
  color: $black
  padding: 0.7em
  max-width: 45%

.title--django-python
  background: #44B78B

.title--react-javascript
  background: #F0DB4F

.title--html-css
  background: #FFA500

.title--git-postgresql
  background: #68A7CA
