.skills
  background: $black
  display: flex
  flex-direction: column
  font-family: $font
  padding: 5em 0 2em 0
  .skills__content-wrapper
    display: flex
    flex-direction: row
    justify-content: space-around
    padding: 0 2em
    width: 100%
    height: auto
    .skills__icon-wrapper
      width: 45%
    .skills__text-wrapper
      width: 55%

.skills__icon
  fill: rgb(255, 225, 51)
  height: auto
  margin: 1em
  max-width: 10em
  padding: 1em 0
  width: 40%



// .skills__link-container
//   display: flex
//   justify-content: center
//   align-items: start
//   padding-bottom: 1em
//   height: auto

// .link__skills
//   padding: 0.7em
//   background: $white
//   color: $black
//   font-size: 1.5em
