.about
  align-items: center
  background: $gray_medium
  box-shadow: 0 0.4em 0.3em 0.3em $gray_dark inset
  display: flex
  flex-direction: column
  font-family: $font
  padding: 2em
  width: 100%
  .about__headshot
    width: 90%
    max-width: 20em
  .about__text
    margin: 1em
    width: 90%
    color: $white
    text-align: justify

