.about
  align-items: center
  background: $gray_medium
  box-shadow: 1px 1px 3px rgba(0,0,0,0.12) inset, 1px 1px 2px rgba(0,0,0,0.24) inset
  display: flex
  justify-content: center
  font-family: $font
  width: 100%
  @include respond_to(medium_screen)
    flex-direction: column
    padding: 1em 0 2.5em 0
  .about__headshot
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
    max-width: 20em
    margin: 1.5em
    width: 90%
    @include respond_to(medium_screen)
      max-width: 18em
  .about__text-wrapper
    background: $gray_dark
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
    border-radius: $radius
    color: black
    padding: 0.7em 1em
    padding-bottom: 0.2em
    width: 55%
    text-align: justify
    @include respond_to(medium_screen)
      align-items: center
      display: flex
      flex-direction: column
      width: 80%
    @inlcude respond_to(small_screen)
      width: 100%
    .about__title
      background: black
      border-radius: $radius
      color: white
      max-width: 45%
      padding: 0.7em
      text-align: center
      @include respond_to(medium_screen)
        width: 45%
