.header
  display: flex
  justify-content: flex-end
  align-items: center
  position: relative
  padding-right: 0.7em
  width: 100%
  height: 2.5em
  background: $black
  font-family: $font
  .header__email
    padding: 0.2em 0.4em
    width: auto
    height: 1.45em
    border-radius: 0.25em
    background: white
    color: $black
  .header__hamburger, .header__hamburger:before, .header__hamburger:after
    position: absolute
    cursor: pointer
    width: 1.4em
    height: 0.2em
    background: white
    content: ''
  .header__hamburger:before
    top: -0.5em
    right: 0
  .header__hamburger:after
    top: 0.5em
    right: 0